<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal AI</title>
    <link rel="icon" type="image/png" href="/icons/logo.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="/home">
          <img src="/icons/logo.png" class="icons" alt="logo" />
        </a>
      </div>

      <!-- User Profile Dropdown -->

      <div class="dropdown">
        <button id="profile-icon" class="profile">
          <% if (user && user.photos && user.photos.length > 0) { %>
          <img
            src="<%= user.photos[0].value %>"
            alt="Profile picture"
            title="<%= user.displayName %>"
          />
          <% } else { %>
          <img
            src="/icons/default-profile.png"
            alt="Default profile picture"
            title="<%= user ? user.displayName : 'User' %>"
          />
          <% } %>
        </button>

        <div id="settings-menu" class="settings-menu">
          <div class="promo">
            <img src="/Images/iron-spiderman-marvel-mcu-wq.jpg" alt="">
            <p>Do more with Personal AI</p>
          </div>

          <div class="settings-options">
            <div class="option">
              <span>Language</span> <span class="value">EN</span>
            </div>
            <div class="option">
              <span>Theme</span> <span class="value">DARK</span>
            </div>
            <div class="option">Give feedback</div>
            <div class="option">About</div>
            <div class="option">
              <span>PERSONAL AI</span>
              <span class="icon"><img src="ailogo.png" alt="" /></span>
            </div>
            <button class="sign-out">Sign out</button>

            <div class="footer">
              <a href="#">Privacy</a>
              <a href="#">Terms</a>
              <a href="#">FAQ</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  <!-- //---------------------------- -->

    <div class="centre" id="chat-box">
      <div
        id="typing-text"
        data-text="Hello <%= user.displayName %>, Welcome to your Personal Assistant!"
      ></div>
      <div id="chat-box" class="chat-box"></div>
    </div>
    <div class="file-display"></div>
    <div class="footer">
      <form class="search" enctype="multipart/form-data">
        <input type="file" id="file-input" hidden />
        <label for="file-input" class="upload-label">
          <i class="ri-upload-2-line"></i>
        </label>
        <input type="text" id="user-input" placeholder="What do you want!" />
        <button type="submit" class="send">
          <i class="ri-arrow-up-line"></i>
        </button>
      </form>
    </div>

    <script src="../js/home.js"></script>
  </body>
</html>
